
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
<h1>Contacts Forum</h1>
  <hr>
    <div>
      <label>Name</label>
      <input type="text"ngModel name="name"size=30 required><br>
    </div>
    <div>
      <label>Phonenumber</label>
      <input type="text"ngModel name="phonenNumber"size=30 required><br>
    </div>
    <button type="submit">Save</button>
    <button (click)="cancel()">Cancel</button>
</form>


