
<h1>Click here to add contact</h1>
<button *ngIf="!isAddingNewContact" (click)="isAddingNewContact = !isAddingNewContact">Add new person</button>
<app-form *ngIf="isAddingNewContact" (onSubmitted)="onSubmit($event)"(onCancel)="isAddingNewContact = false"></app-form>
<hr>
<app-profiles [contact] = "contact"*ngFor="let contact of contact"></app-profiles>
<hr>     

