.user-profile{
    width: 350px;
    height: 86px;
    border: 0px solid #ccc;
    margin-bottom:15px;
    clear:both;
}

.avatar{
    width: 80px;
    height: 86px;
    border: 0px solid gray;
    float:left;
}

.profile{
    margin-bottom:10px;
    display: inline-block;
}

span{
    display: block;
    padding-bottom:5px;
   
}